
{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur natus consectetur illo ratione ad soluta esse commodi totam. Vel deserunt officia praesentium error doloremque exercitationem dolores quod similique corrupti rem?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur natus consectetur illo ratione ad soluta esse commodi totam. Vel deserunt officia praesentium error doloremque exercitationem dolores quod similique corrupti rem?</p>

{% endblock %}